[Feature] Add specification links to openid confromance logs

### What do you want to build?

The openid certification logs also contain links to the specifications where the test step is described.
Inside the log's step they are written as:
```
"requirements": [
    "PAR-2.2",
    "PAR-2.3",
    "PAR-2.4"
  ],
```
calling `https://www.certification.openid.net/api/ui/spec_links?public=true` (using openid token as authentication) it will respond with the list of base link for specs, e.g.
```json
{
  "RFC9396-": "https://tools.ietf.org/html/rfc9396#section-",
  "DPOP-": "https://www.rfc-editor.org/rfc/rfc9449#section-",
  "FAPI-RW-": "https://openid.net/specs/openid-financial-api-part-2-ID2.html#rfc.section.",
  "JARM-": "https://openid.net/specs/oauth-v2-jarm.html#section-",
  "RFC8417-": "https://tools.ietf.org/html/rfc8417#section-",
  "RFC7592A-": "https://tools.ietf.org/html/rfc7592#appendix-",
  "CID-IDA-": "https://cdn.connectid.com.au/specifications/digitalid-identity-assurance-profile-06.html#section",
  "FAPI1-BASE-": "https://openid.net/specs/openid-financial-api-part-1-1_0-final.html#rfc.section.",
  "OIDRISC-": "https://openid.net/specs/openid-risc-1_0-final.html#section-",
  "OIDCC-": "https://openid.net/specs/openid-connect-core-1_0.html#rfc.section.",
  "RFC7518-": "https://tools.ietf.org/html/rfc7518#section-",
  "RFC9325A-": "https://tools.ietf.org/html/rfc9325.html#appendix-",
  "IA-": "https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html#section-",
  "OID4VP-1FINALA-": "https://openid.net/specs/openid-4-verifiable-presentations-1_0.html#appendix-",
  "FAPI2-SP-FINAL-": "https://openid.net/specs/fapi-security-profile-2_0-final.html#section-",
  "FAPI-CIBA-": "https://openid.net/specs/openid-financial-api-ciba.html#rfc.section.",
  "BrazilOBDCR-": "https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/246120449/EN+Open+Finance+Brasil+Financial-grade+API+Dynamic+Client+Registration+2.0+RC1+Implementers+Draft+3#section-",
  "RFC6750-": "https://tools.ietf.org/html/rfc6750#section-",
  "RFC7231-": "https://tools.ietf.org/html/rfc7231#section-",
  "RFC8705-": "https://tools.ietf.org/html/rfc8705#section-",
  "RFC8935-": "https://tools.ietf.org/html/rfc8935#section-",
  "CDR-": "https://consumerdatastandardsaustralia.github.io/standards/#",
  "OIDCAEP-": "https://openid.net/specs/openid-caep-1_0-final.html#section-",
  "CAEPIOP-": "https://openid.github.io/sharedsignals/openid-caep-interoperability-profile-1_0.html#section-",
  "AUTHZEN-": "https://openid.net/specs/authorization-api-1_0.html#section",
  "RFC6819-": "https://tools.ietf.org/html/rfc6819#section-",
  "RFC8414-": "https://tools.ietf.org/html/rfc8414#section-",
  "OAuth2-ATCA07-": "https://datatracker.ietf.org/doc/html/draft-ietf-oauth-attestation-based-client-auth-07#section-",
  "IAVC-": "https://openid.net/specs/openid-ida-verified-claims-1_0.html#section-",
  "OBRW-": "https://openbanking.atlassian.net/wiki/spaces/DZ/pages/1077805207/Read+Write+Data+API+Specification+-+v3.1.2#",
  "JAR-": "https://www.rfc-editor.org/rfc/rfc9101.html#section-",
  "RFC7519-": "https://tools.ietf.org/html/rfc7519#section-",
  "OIDCRIL-": "https://openid.net/specs/openid-connect-rpinitiated-1_0.html#rfc.section.",
  "OIDSSF-": "https://openid.net/specs/openid-sharedsignals-framework-1_0-final.html#section-",
  "RFC8485-": "https://tools.ietf.org/html/rfc8485#section-",
  "ISO18013-7-": "https://www.iso.org/standard/82772.html#",
  "SDJWT-": "https://www.ietf.org/archive/id/draft-ietf-oauth-selective-disclosure-jwt-14.html#section-",
  "RFC7636-": "https://tools.ietf.org/html/rfc7636#section-",
  "CBUAE": "https://openfinanceuae.atlassian.net/wiki/spaces/standardsv1final/pages/151846988/Security+Profile+-+FAPI",
  "RFC7523-": "https://tools.ietf.org/html/rfc7523#section-",
  "CID-PURPOSE-": "https://cdn.connectid.com.au/specifications/oauth2-purpose-01.html#section-",
  "OID4VP-ID3-": "https://openid.net/specs/openid-4-verifiable-presentations-1_0-24.html#section.",
  "FAPI1-ADV-": "https://openid.net/specs/openid-financial-api-part-2-1_0-final.html#rfc.section.",
  "BrazilOPIN-": "https://br-openinsurance.github.io/areadesenvolvedor/files/Controles_técnicos_de_Segurança_da_Informação_3.0.pdf#",
  "OB-": "https://bitbucket.org/openid/obuk/src/b36035c22e96ce160524066c7fde9a45cbaeb949/uk-openbanking-security-profile.md?at=master&fileviewer=file-view-default#",
  "RFC9728-": "https://tools.ietf.org/html/rfc9728#section-",
  "RFC7591-": "https://tools.ietf.org/html/rfc7591#section-",
  "BCP195-": "https://tools.ietf.org/html/bcp195#section-",
  "RFC8936-": "https://tools.ietf.org/html/rfc8936#section-",
  "RFC6749-": "https://tools.ietf.org/html/rfc6749#section-",
  "OAuth2-FP-": "https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html#rfc.section.",
  "OBSP-": "https://openbanking.atlassian.net/wiki/spaces/DZ/pages/83919096/Open+Banking+Security+Profile+-+Implementer+s+Draft+v1.1.2#",
  "OIDCR-": "https://openid.net/specs/openid-connect-registration-1_0.html#rfc.section.",
  "OID4VCI-1FINAL-": "https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#section-",
  "OIDCBCL-": "https://openid.net/specs/openid-connect-backchannel-1_0.html#rfc.section.",
  "RFC3986-": "https://tools.ietf.org/html/rfc3986#section-",
  "OIDCFCL-": "https://openid.net/specs/openid-connect-frontchannel-1_0.html#rfc.section.",
  "SDJWTVC-": "https://www.ietf.org/archive/id/draft-ietf-oauth-sd-jwt-vc-13.html#section-",
  "OAuth2-RT-": "https://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#rfc.section.",
  "FAPI2-IMP-": "https://openid.bitbucket.io/fapi/fapi-2_0-implementation_advice.html#section-",
  "HAIP-": "https://openid.net/specs/openid4vc-high-assurance-interoperability-profile-1_0.html#section-",
  "KSA": "https://ksaob.atlassian.net/wiki/spaces/KS20221101finalerrata1/pages/61014862/API+Security",
  "OID4VP-ID2-": "https://openid.net/specs/openid-4-verifiable-presentations-1_0-ID2.html#section.",
  "OAuth2-iss-": "https://tools.ietf.org/html/rfc9207#section-",
  "RFC8707-": "https://tools.ietf.org/html/rfc8707#section-",
  "RFC6749A-": "https://tools.ietf.org/html/rfc6749#appendix-",
  "RFC9325-": "https://tools.ietf.org/html/rfc9325.html#section-",
  "OIDCSM-": "https://openid.net/specs/openid-connect-session-1_0.html#rfc.section.",
  "CID-SP-": "https://cdn.connectid.com.au/specifications/connectid-fapi-security-profile-03.html#section-",
  "FAPI2-MS-ID1-": "https://openid.net/specs/fapi-2_0-message-signing-ID1.html#section-",
  "FAPI-ISSUES-": "https://bitbucket.org/openid/fapi/issues/",
  "PAR-": "https://www.rfc-editor.org/rfc/rfc9126.html#section-",
  "OID4VCI-1FINALA-": "https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#appendix-",
  "RFC7592-": "https://tools.ietf.org/html/rfc7592#section-",
  "BrazilCIBA-": "https://openfinancebrasil.atlassian.net/wiki/spaces/DraftOF/pages/138674330/EN+Open+Banking+Brasil+Financial-grade+CIBA+API+Security+Profile+1.0+Implementers+Draft+3",
  "OTSL-": "https://datatracker.ietf.org/doc/html/draft-ietf-oauth-status-list-15#section-",
  "OIDFED-": "https://openid.net/specs/openid-federation-1_0-45.html#section-",
  "OIDCD-": "https://openid.net/specs/openid-connect-discovery-1_0.html#rfc.section.",
  "RFC7517-": "https://tools.ietf.org/html/rfc7517#section-",
  "FAPI2-SP-ID2-": "https://openid.net/specs/fapi-2_0-security-profile-ID2.html#section-",
  "CIBA-": "https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html#rfc.section.",
  "FAPI-R-": "https://openid.net/specs/openid-financial-api-part-1-ID2.html#rfc.section.",
  "OID4VP-1FINAL-": "https://openid.net/specs/openid-4-verifiable-presentations-1_0.html#section-",
  "BrazilOB-": "https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/245760001/EN+Open+Finance+Brasil+Financial-grade+API+Security+Profile+1.0+Implementers+Draft+3#section-",
  "HAIPA-": "https://openid.net/specs/openid4vc-high-assurance-interoperability-profile-1_0.html#appendix-"
}
```
from which the specification link can be created 

### Why is this useful?

_No response_